@using StudyJunction.Core.ViewModels.Courses
@using StudyJunction.Core.ResponseDTOs
@using CloudinaryDotNet
@using CloudinaryDotNet.Actions
@model CourseViewModel

@{
	ViewData["Title"] = "List of courses";
}

 <!-- ======= Breadcrumbs ======= -->
<div class="align-self-center justify-content-center align-items-center m-auto">
    <div class="breadcrumbs">
        <div class="container">
            <h2>Courses</h2>
            <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p>
        </div>
    </div><!-- End Breadcrumbs -->
</div>


    <!-- ======= Courses Section ======= -->

<section id="courses" class="courses">
    <div data-aos="fade-up">
        @for (int i = 0; i < Model.Courses.Count; i += 3)
        {
            <div class="row" data-aos="zoom-in" data-aos-delay="100"> 
            @for (int j = i; j < i + 3; j++)
            {
                @if (j >= Model.Courses.Count)
                {
                    break;
                    }
                    var currCourse = Model.Courses.ElementAt(j);
                    var creator = Model.Users.FirstOrDefault(u => u.UserName == currCourse.CreatorName);

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="course-item">
                            @{
                                string[] splitted = currCourse.Title.Split();
                                string url = "http://localhost:5205/Courses/Details/" + String.Join("%20", splitted);
                            }
                            <a href=@url>
                                <img src="@Model.Service.GetResource(currCourse.ThumbnailCloudinaryUri)" class="img-fluid" alt="Course thumbnail">
                            </a>
                            
                            <div class="course-content">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <h4>@currCourse.CategoryName</h4>
                                    <p class="price">$169</p>
                                </div>

                                <h3><a href=@url>@currCourse.Title</a></h3>
                                <p>@currCourse.Description</p>
                                <div class="trainer d-flex justify-content-between align-items-center">
                                    <div class="trainer-profile d-flex align-items-center">
                                        <img src="@Model.Service.GetResource(creator.ProfileImageCloudinaryUri)" class="img-fluid" alt="">
                                        <span>@creator.FirstName @creator.LastName</span>
                                    </div>
                                    <div class="trainer-rank d-flex align-items-center">
                                        <i class="bx bx-user"></i>&nbsp;50
                                        &nbsp;&nbsp;
                                        <i class="bx bx-heart"></i>&nbsp;65
                                    </div>
                                </div>
                            </div>
                    </div> 
                </div> <!-- End Course Item-->
            }
            </div> <!-- End row -->
        }
    </div>
</section><!-- End Courses Section -->

<!-- Vendor JS Files -->
<script src="~/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="~/assets/vendor/aos/aos.js"></script>
<script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="~/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="~/assets/js/main.js"></script>


